body {
  font-family: Arial, sans-serif;
  background: pink;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
h2 {
  color: whitesmoke;
  background:black;
  text-align: center;
}
.container {
  background: #fff;
  padding: 20px;
  width: 350px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 8px;
  
}

button {
  padding: 8px 10px;
  cursor: pointer;
}

.progress-box {
  background: #ddd;
  height: 10px;
  margin: 15px 0;
  border-radius: 5px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background: #4caf50;
  border-radius: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
